.main {
    background: radial-gradient(circle, #6a00ff, #9d3bff, #4682b4, #00ced1, #00ff7f, #cd5c5c, #9932cc);
    color: #ffffff;
}

.about_me {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.photo_list {
    margin-top: 20px;
    padding-top: 20px;
}


.photo_list h2 {
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-size: 3rem;
    color: white;
}

.cennik {
    margin: 20px 16px 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.cennik h2 {
    text-align: center;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 3rem;
}

.price_list {
    border: 2px solid purple;
    box-shadow: 0 3px 3px -2px purple, 0 3px 4px 0 purple, 0 1px 8px 0 purple;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    font-size: 1.5rem;
    margin: auto;
}

.info {
    text-align: center;
    margin-bottom: 30px;
}

.info p span {
    font-size: 1.25rem;
}

.info p span::before {
    content: "\A";
    white-space: pre;
}